---
export const prerender = false;

import { getEntry } from "astro:content";
import { count, db, Signator } from "astro:db";
import Layout from "../layouts/Layout.astro";
import { cn } from "../utils/cn";

const iniciative = await getEntry("iniciatives", "multiuse-venue-in-begur");
if (!iniciative) return Astro.redirect("/404");

const { Content } = await iniciative.render();

// Get total signatories count from database
const result = await db.select({ count: count() }).from(Signator);
const signatoryCount = result[0].count;

const hasSigned = Astro.cookies.has("signed");
const progress = iniciative.data.signatureTarget
  ? Math.min(1, signatoryCount / iniciative.data.signatureTarget)
  : 0;
---

<Layout
  title="Iniciativa popular per a un local polivalent a Begur"
  description="Ajuntament de Begur, és hora de construir un local polivalent a Begur. Uneix-te a la nostra petició per demanar a l'Ajuntament que construeixi un local polivalent per al nostre poble."
>
  {
    iniciative.data.updates.length > 0 && (
      <div class="hello-bar bg-amber-200 p-4 z-10 space-y-2">
        {iniciative.data.updates.map((update) => (
          <div class="max-w-xl mx-auto">
            <b>Actualització {update.date.toLocaleDateString("ca-ES")}:</b>{" "}
            {update.message}
            {update.link && (
              <a
                href={update.link}
                class="underline font-normal whitespace-nowrap"
              >
                {update.linkText}
              </a>
            )}
          </div>
        ))}
      </div>
    )
  }

  <div class="max-w-xl mx-auto mt-16 md:mt-24 px-4 sm:px-0 mb-24">
    <h1 class="font-bold text-3xl sm:text-4xl mt-24">
      {iniciative.data.title}
    </h1>

    {
      iniciative.data.signatureTarget && (
        <div class="mt-8">
          <div class="flex justify-between mb-1">
            <span>{signatoryCount.toLocaleString()} firmes</span>
            <span>
              Objectiu: {iniciative.data.signatureTarget.toLocaleString()}
            </span>
          </div>
          <div class="w-full bg-gray-200 rounded-full h-4 overflow-hidden">
            <div
              class="bg-green-500 h-full rounded-full transition-all duration-500"
              style={`width: ${progress * 100}%`}
            />
          </div>
          <div class="flex justify-between mt-1 text-sm ">
            <span class="text-green-600">
              {hasSigned && "Has signat, gràcies!"}
            </span>
            <a
              href="/signatories"
              class="text-right text-blue-600 hover:underline"
            >
              Veure qui ha signat
              <svg
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="1.75"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="inline-block size-4"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M7 7l5 5l-5 5" />
                <path d="M13 7l5 5l-5 5" />
              </svg>
            </a>
          </div>
        </div>
      )
    }

    <article class="text-lg mt-12">
      <p class="text-lg mb-6">
        De part de {iniciative.data.author},
      </p>

      <div class="letter">
        <Content />

        <div class="callout">
          <h2>A vosaltres, begurencs i begurences:</h2>
          <p>
            Si estàs d'acord amb nosaltres, t'animem a signar aquesta iniciativa
            popular i compartir-ho amb altres veïns de Begur. El teu suport
            ajudarà a pressionar l'Ajuntament per fer-ho realitat.
          </p>
          <p>
            Si vols signar com a organització, siusplau, envia'ns un email a
            <a href={`mailto:${iniciative.data.email}`}>
              {iniciative.data.email}
            </a>
          </p>
        </div>
      </div>

      <p class="mt-12">Associacions signants:</p>
    </article>

    <div class="text-lg mt-2 mb-8">
      {
        iniciative.data.featured.map((signatory) => (
          <p>
            <a
              class={cn(signatory.url && "hover:underline", {
                "font-handwritten font-bold text-3xl":
                  signatory.type === "person",
                "font-sans font-bold": signatory.type === "organization",
              })}
              href={signatory.url}
            >
              {signatory.name}
            </a>
            {signatory.type === "person" && <i>- {signatory.affiliation}</i>}
            {signatory.type === "organization" && (
              <i>- {signatory.shortDescription}</i>
            )}
          </p>
        ))
      }
      <p class="italic pt-1">
        i <a href="/signatories" class="underline hover:text-blue-600">
          {signatoryCount.toLocaleString()} veïns i veïnes més de Begur
        </a>
      </p>
    </div>

    {
      hasSigned ? (
        <div
          id="signed"
          class="px-6 py-8 w-full mt-12 text-lg flex flex-col justify-center items-center rounded-md border-4 border-green-500 shadow-md"
        >
          <p>La teva firma s'ha enregistrat. Gràcies per participar!</p>
          <a
            href="/sign?bypass=true"
            class="mt-2 text-sm text-blue-600 hover:underline"
          >
            Signar com a una altra persona
          </a>
        </div>
      ) : (
        <div class="sticky bottom-0 p-3 border-t border-slate-200 bg-slate-50">
          <a
            href="/sign"
            class="bg-sky-200 border-sky-300 px-4 py-3 w-full max-w-xl mx-auto flex text-xl justify-center items-center gap-2 font-bold rounded-md border-2 hover:bg-sky-100 transition-colors"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L6.832 19.82a4.5 4.5 0 0 1-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 0 1 1.13-1.897L16.863 4.487Zm0 0L19.5 7.125"
              />
            </svg>
            Firmar iniciativa
          </a>
        </div>
      )
    }

    <p class="mt-16 text-gray-600 text-sm">
      Consultes a la premsa: <a href={`mailto:${iniciative.data.email}`}
        >{iniciative.data.email}</a
      >
    </p>
  </div>
</Layout>
